<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome {{username.first_name}} {{username.last_name}} to the Dashboard!</h1>
    <h2>Instructors at Coding Dojo</h2>
    {% for instructor in instructors %}
        <p><a href="/users/{{instructor.id}}">{{instructor.first_name}} {{instructor.last_name}}</a></p>
    {% endfor %}

</body>
</html>