<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{user.first_name}} {{user.last_name}} Information</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <p>Email: {{user.email}}</p>
    <h2>Stacks Taught: </h2>
    {% for stack in user.stacks %} 
        <p>{{stack}}</p>
    {% endfor %}
    <a href="/dashboardd">Return to Dashboard</a>
</body>
</html>