<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
    <h1>Welcome!!!</h1>
    <p>Username: {{session.user_name}}</p>
    <p>Email: {{session.user_email}}</p>

    <a href="/players/clear">Clear Player Data</a>
    <a href="/dashboard">Go Back to Dashboard</a>

</body>
</html>