<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3>Welcome {{user.first_name}} {{user.last_name}}</h3>
    <p>Email: {{user.email}}</p>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Rating</th>
                <th>Date Watched</th>
                <th>Number of Users Who Favorited</th>
                <th>Uploaded By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews%}
                <tr>
                    <td><a href="/reviews/{{review.id}}">{{review.title}} </td>
                    <td>{{review.content}} </td>
                    <td>{{review.rating}} </td>
                    <td>{{review.date_watched.strftime('%m-%d-%Y')}} </td>
                    <td>{{review.user_ids_who_favorited | length}}
                        {% if session.user_id in review.user_ids_who_favorited %}
                            <form action="/reviews/{{review.id}}/unfavorite" method="POST">
                                <input name="id" type="hidden" value="{{review.id}}">
                                <input name="user_id" type="hidden" value="{{session.user_id}}">
                                <button type="submit">Remove Review From Your Favorites</button>
                            </form>
                        {% else %}
                            <form action="/reviews/{{review.id}}/favorite" method="POST">
                                <input name="id" type="hidden" value="{{review.id}}">
                                <input name="user_id" type="hidden" value="{{session.user_id}}">
                                <button type="submit">Favorite This Review!</button>
                            </form>
                        {% endif %}
                        

                    </td>
                    <td>{{review.creator.first_name}} {{review.creator.last_name}}</td>
                    {% if review.creator.id == session.user_id %}
                        <td><a href="/reviews/{{review.id}}/edit">Edit</a>
                            <form action="/reviews/{{review.id}}/delete" method="POST">
                                <input name="id" type="hidden" value="{{review.id}}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            
            {% endfor %}
            
        </tbody>

    </table>
</body>
</html>